
<div class="outer">
        <div class="header"><h1><%=header %></h1> </div>
        <div class="description">
                <%=description %>  
        </div>
</div>

<link rel="stylesheet" href="../cards/cards.css" type="text/css">