<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/main.css">
        <title>Document</title>
</head>
<body>
        <div class="container">
                <div class="layout">
                        <div class="menus-area ">
                                <h1>Examly</h1>
                                <hr>

                                <div class="main-menu">
                                
                                
                                        <div class="menu-element">
                                                Explore                                               
                                        </div>
                                        <div class="menu-element">
                                                My courses
                                        </div><div class="menu-element">
                                                Settings
                                        </div><div class="menu-element">
                                                More
                                        </div>                                 
                                </div>
                                
                                <hr>
                                        
                                        <button id="create-button">Create</button>
                                        
                                        <div class="account-quesion">
                                        <p>have an account?</p>
                                        <button id="menu-log-in"></button>                                      
                                        </div>
                        </div>

<!-- html file -->
<button class="button-red bg-green"></button>
<div class="bg-red"></div>
                
                        <div class="chat-area">



                                <div class="header">

                                        <div class="search-bar">
                                                <input type="text" class="message-input" placeholder="message">
                                                <div class="examly-search">
                                                        <h3>Examly library</h3>
                                                </div>
                                        </div>

                                </div>


                                <div class="chat">

                                </div>
                        
                        
                        </div> 


                </div>
        </div> 
        <script src="../public/js/toggle.js"></script>
</body>
</html>